.PostsFlexContainer {
  width: 95%;
  max-width: 72.5rem;
  margin: 3rem auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 3rem;
  column-gap: 2rem;
}

.FlexItem {
  cursor: pointer;
  width: calc((100% - 4rem) / 3);
}

@media (max-width: 64rem) {
  .PostsFlexContainer {
    padding: 0 1rem;
  }

  .FlexItem {
    width: calc((100% - 2rem) / 2);
  }
}

@media (max-width: 30rem) {
  .PostsFlexContainer {
    padding: 0 1rem;
  }

  .FlexItem {
    width: 100%;
  }
}
