.MenuContainer {
  display: flex;
  justify-content: space-evenly;
  width: 35rem;
  margin: 1.3125rem auto 0;
}

.MenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  padding-bottom: 1.325rem;
  cursor: pointer;
  position: relative;
}

.MenuItem::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  height: 0.1rem;
  width: 0;
  background-color: var(--menu-highlight-color);
  transition: width 0.2s;
}

.MenuItem:hover:after {
  width: 100%;
}

.MenuItem:hover .SubmenuContainer {
  position: absolute;
  display: block;
  top: 1.3rem;
}

.Text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
}

.ArrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 0.25rem;
}

.SubmenuContainer {
  display: none;
}



