.LogoAndSearch {
  width: 95%;
  max-width: 72.5rem;
  height: 5rem;
  padding: 1.8125rem 0;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.LogoContainer {
  width: 11.3125rem;
  margin: 0 calc((100% - 12.3125rem) / 2);
}

.SearchButton {
  width: 1rem;
  height: 1rem;
}
